@font-face {
    font-family: 'EK';
    src: url('/assets/Fontas/EK_Mukta_woff/EkMukta-Bold.woff2');
}
body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-bg{
    background-image: url('/assets/bg-img.png');
    height: 100vh;
}
.gradient-bg{
    background-image: url('/assets/bg-gradient.png');
    height: 100vh;
} 
header{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 480px;
}
.main-title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
}

.sub-title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 18px;
    color: #fff;
}
.suzinok-daugiau-a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 36px;
}

.suzinok-daugiau-btn{
    font-size: 16px;
    text-transform: uppercase;
    color: #48271d;
    background-color: #ddcab0;
    border: 1px solid #ddcab0;
    border-radius: 30px;
    padding: 20px;
}

.suzinok-daugiau-btn:hover {
    background-color: #ecddc8;
}
@media (max-width: 576px){
    .main-bg{
    background-size: cover;
    background-repeat: no-repeat;
}
.gradient-bg{
    background-size: cover;
        background-repeat: no-repeat;
}
.content {
    padding-top: 250px;
}
.main-title {
    font-size: 30px;
}
.sub-title {
    font-size: 15px;
}
.suzinok-daugiau-btn {
    font-size: 10px;
}
    
}

