@import url('../css/fonts.css');
body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'EK_Mukta_Bold','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hidden{
    display: none;
}

.main-bg {
    background-image: url('../img/bg-img.png'); 
    height: 100vh;
    overflow-y: hidden;
    background-repeat: no-repeat;
}

 .gradient-bg{
    background-image: url('../img/bg-gradient.png');
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #48271d;
} 
.registration-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 150px;
    background: url('../img/form-block-bg.png');
    position: relative;
}
.close-icon{
    position: absolute;
    top:20px;
    right: 20px;
    padding: 20px;
}

.logo{
    width: 150px;
}
.header-h4{
padding-top: 18px;
font-family: 'EK_Mukta_ExtraBold';
}
.header-h3{
padding-top: 10px;
text-transform: uppercase;
font-family: 'EK_Mukta_ExtraBold';
}
.form{
width: 100%;
margin-top: 30px;
}

.form-row input{
    width: 100%;
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 30px;
    border: 1px solid #48271d;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
}
.form-row input::placeholder{
    color: #48271d;
    font-family: 'EK_Mukta_Bold';
}
.check-box{
    display: flex;
}
.check-box input{
    margin: 0;
}
.check-box label{
   width: 100%;
   white-space: nowrap;
   padding: 0px 8px;
}
.check-box-p
{
    font-family: 'EK_Mukta_Bold';
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 20px;
}

.registruotis-a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 36px;
    margin-bottom: 36px;
}

.registruotis-btn {
    font-family: 'EK_Mukta_Medium';
    font-size: 16px;
    text-transform: uppercase;
    color: #ddcab0;
    background-color: #48271d; 
    border: 1px solid #48271d;
    border-radius: 30px;
    padding: 20px;
}
.contact-person{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 36px;
    gap: 7px;
}
.contact-person h4, h5{
    font-family: 'EK_Mukta_Bold';
}
.contact-info{
    display: flex;
}
.contact-phone{
    display: flex;
    margin-right: 15px;
}
.contact-info img{
    width: 9%;
    margin-right: 3px;
}
.contact-email{
    display: flex;
}
.contact{
    font-family: 'EK_Mukta_Light';
    font-size: 16px;
}
.check-box input {
    /* ...existing styles */
    display: grid;
    place-content: center;
}

.check-box input::before {
    content: '';
    width: 1em;
    height: 1em;
}

.check-box input:checked::before {
    transform: scale(1);
    background-color: #fff;
    overflow: hidden;
    border: 2px solid #fff;
    background-image: url('../svgicons/check.svg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* hover */
.close-icon:hover{
    box-shadow: 2px 2px 2px 2px gray;
}
.registruotis-btn:hover{
    background-color: #ddcab0;
    color: #48271d;
}
.contact:hover {
    font-family: 'EK_Mukta_Bold';
}

@media (max-width: 576px){
    .logo{
        width: 25%;
    }
    .waves{
        display: none;
    }

  .main-bg{
    overflow: hidden;
    padding: 10px 0;
   
  }
  .contact-person{
    margin-top: 0px;
  }

  .header-h4{
    text-align: center;
    }
  .contact-info {
    flex-direction: column;
    align-items: center;
     gap: 10px;
    }
}

